<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zte.model.mapper.oracle.UserDaoMapper">

    <select id="getList" resultType="SmbmsUser">
        select  * from smbms_user
    </select>
<!--    <select id="getListByUsercode" resultType="smbmsUser">-->
<!--        select * from smbms_user where usercode=#{userCode}-->
<!--    </select>-->
</mapper>